{% extends "cs564/base.html" %}

{% block title %}PV Array Detail{% endblock %}

{% block content %}

<ul class="breadcrumb">
  <li><a href="{% url 'cs564:index' %}">Main</a> <span class="divider">/</span></li>
  <li><a href="{% url 'cs564:pv_array_list' %}">PV Arrays</a> <span class="divider">/</span></li>
  <li class="active">{{ pv_array.name }}</li>
</ul>


<div class="page-header">
  <h1>{{ pv_array.name }}</h1>
</div>

<div class="row">
  <div class="span12">
    <form class="form-inline" action="{% url 'cs564:pv_array_update' pv_array.id %}" method="POST">
      {% csrf_token %}
      {{ p_form.non_field_errors }}
      {{ p_form.sun_path.errors }}
      <div class="row">
        <div class="span2"><strong>Name</strong></div>
        <div class="span2"><strong>Orientation</strong></div>
        <div class="span2"><strong>Tilt</strong></div>
        <div class="span2"><strong>Height</strong></div>
        <div class="span2"><strong>Panel type</strong></div>
      </div>
      <div class="row">
        <div class="span2">
          <input type="text" id="id_name" class="input-small" name="name"
            value="{{ pv_array.name }}"/>
        </div>
        <div class="span2">
          <div class="input-append">
            <input type="text" id="id_orientation" class="input-small" name="orientation"
              value="{{ pv_array.orientation }}"/>
              <span class="add-on">deg</span>
          </div>
        </div>
        <div class="span2">
          <div class="input-append">
            <input type="text" id="id_tilt" class="input-small" name="tilt"
            value="{{ pv_array.tilt }}"/>
              <span class="add-on">deg</span>
          </div>
        </div>
        <div class="span2">
          <div class="input-append">
            <input type="text" id="id_height" class="input-small" name="height"
            value="{{ pv_array.height }}"/>
              <span class="add-on">ft</span>
          </div>
        </div>
        <div class="span2">
          <select class="span2" name="panel" id="id_panel">
            {% for panel in panel_list %}
              {% if panel.id == pv_array.panel.id %}
              <option value="{{ panel.id }}" selected="selected">{{ panel.name }}</option>
              {% else %}
              <option value="{{ panel.id }}">{{ panel.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <input type="hidden" id="id_sun_path" name="sun_path" value="{{ pv_array.sun_path|default_if_none:"" }}" />
        <div class="span2">
          <button type="submit" class="btn">Update</button>
        </div>
      </div>
      <div class="row">
        <div class="span2">{{ p_form.name.errors }}</div>
        <div class="span2">{{ p_form.orientation.errors }}</div>
        <div class="span2">{{ p_form.tilt.errors }}</div>
        <div class="span2">{{ p_form.height.errors }}</div>
        <div class="span2">{{ p_form.panel.errors }}</div>
      </div>
            
      <input type="hidden" name="created_at" id="id_created_at" value="{{ pv_array.created_at }}" />
    </form>
  </div>
</div>


<div class="page-header">
  <h2>PV array coordinates</h2>
</div>
<div class="row">
  <div class="span8">
    {% if coord_list %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>latitude</th>
          <th>longitude</th>
          <th>elevation</th>
          <th>height</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if coord_list %}
        {% for coordinate in coord_list %}
        <tr>
          <td>{{ coordinate.latitude }}</td>
          <td>{{ coordinate.longitude }}</td>
          <td>{{ coordinate.elevation }}</td>
          <td>{{ coordinate.height }}</td>
          <td>
            <form action="{% url 'cs564:pv_array_coord_delete' pv_array.id coordinate.id %}"
              method="POST" style="margin:0px;">
              {% csrf_token %}
              <button type="submit" class="btn btn-link">delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
        {% else %}
        {% endif %}
      </tbody>
    </table>
    {% else %}
    <p>No coordinates found. Add some!</p>
    {% endif %}
  </div>
</div>


<div class="page-header">
  <h2>Add coordinate</h2>
</div>
<div class="row">
  <div class="span11">
    <form action="{% url 'cs564:pv_array_coord_add' pv_array.id %}" class="form-inline" method="post">
      {% csrf_token %}
      {{ c_form.non_field_errors }}
      {{ c_form.path.errors }}
      {{ c_form.array.errors }}
      <div class="row">
        <div class="span2"><strong>Latitude</strong></div>
        <div class="span2"><strong>Longitude</strong></div>
        <div class="span2"><strong>Elevation</strong></div>
        <div class="span2"><strong>Height</strong></div>
      </div>
      <div class="row">
        <div class="span2">
          <div class="input-append">
          <input type="text" id="id_c-latitude" class="input-small" name="c-latitude"
            value="{{ c_form.latitude.value|default_if_none:"" }}"/>
            <span class="add-on">deg</span>
          </div>
        </div>
        <div class="span2">
          <div class="input-append">
          <input type="text" id="id_c-longitude" class="input-small" name="c-longitude"
            value="{{ c_form.longitude.value|default_if_none:"" }}"/>
            <span class="add-on">deg</span>
          </div>
        </div>
        <div class="span2">
          <div class="input-append">
          <input type="text" id="id_c-elevation" class="input-mini" name="c-elevation"
            value="{{ c_form.elevation.value|default_if_none:"" }}"/>
            <span class="add-on">m</span>
          </div>
        </div>
        <div class="span2">
          <div class="input-append">
          <input type="text" id="id_c-height" class="input-mini" name="c-height"
            value="{{ c_form.height.value|default_if_none:"" }}"/>
            <span class="add-on">m</span>
          </div>
        </div>
        <div class="span2">
          <button type="submit" class="btn">Add</button>
        </div>
      </div>
      <div class="row">
        <div class="span2">{{ c_form.latitude.errors }}</div>
        <div class="span2">{{ c_form.longitude.errors }}</div>
        <div class="span2">{{ c_form.elevation.errors }}</div>
        <div class="span2">{{ c_form.height.errors }}</div>
      </div>
      <input type="hidden" id="id_c-path" name="c-path" value=""/>
      <input type="hidden" id="id_c-pv_array" name="c-pv_array" value="{{ pv_array.id }}"/>
    </form>
  </div>
</div>

{% endblock %}

